@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  background: #fff;
  text-align: center;
  color: #000;
}

.topimg {
  background: url('http://s22.postimg.org/46mkscgtd/rc_bckgr.png');
}


.navbar {
  width: 90%;
  margin: 0 auto;
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  padding: 8px;
}

.navbar a {
  background: transparent;
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

.navbar a:hover {
  color: #000;
}

.navbar-brand {
  text-transform: uppercase;
  font-family: 'Helvetica Neue';
  font-weight: 900;
  color: #fff;
  font-size: 2.3rem;
}

.navbtn {
  background: transparent;
  border-radius: 1px;
  border: 2px solid;
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 5px;
  margin-left: 5px;
}

h1 {
  color: #fff;
  margin: 0 auto;
  padding: 4rem 0 4rem 0;
  font-size: 3rem;
  line-height: 4.2rem;
  font-family: "Roboto-Slab"
}

.fa-arrow-down {
  color: #fff;
  padding-bottom: 10rem;
}

h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: 'Roboto Slab';
}

.padding {
  padding-bottom: 1.5rem;
}

.icon {
  max-width: 220px;
  max-height: 180px;
}

.bold {
  font-weight: 900;
  font-family: 'Helvetica Neue', sans-serif;
}

.small {
  font-weight: 300;
  font-family: 'Helvetica Neue', sans-serif;
}

.spacer {
  padding: 1.4rem 3rem 8rem 3rem;
}

.btnred {
  background: #C43F35;
  border-radius: 0;
  padding: 1.2rem 2rem 1.2rem 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .09rem;
  color: #fff;
}

.footer {
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 900;
  font-family: 'Helvetica Neue';
  font-size: 1.2rem;
}

.social {
  display: inline-block;
  padding: .4rem;
  width: 23%;
}

.btnwhite {
  background: #fff;
  color: #000;
  border-radius: 0;
  width: 15.5rem;
  height: 4.5rem;
  margin-top: .4rem;
  padding: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
}

.sub {
  font-size: 1.1rem;
  font-family: 'Helvetica Neue';
  padding: 1rem 1rem 5rem 1rem;
}

.white {
  background: #fff;
  color: #000;
}

.red {
  background: #C43F35;
  color: #fff;
}

.black {
  background: #000;
  color: #fff;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.first {
  padding: 14rem 0 2rem 0;
}

.second {
  padding: 8rem 0 10rem 0;
}

.third {
  padding: 9rem 0 4rem 0;
}

.up {
  margin-top: -55px;
}

.fourth {
  padding: 9rem 0 4rem 0;
}

.redtext {
  letter-spacing: .1rem;
  font-size: 1.2rem;
  font-family: 'Helvetica Neue';
  font-weight: 100;
}

.bump {
  margin-top: -15px;
}

.inner-container{
	width:80%;
	max-width: 540px;
	margin:70px auto 0 auto;
	display: block;
  text-align: left;
}

.inner-container i{
	font-size:100px;
	float: left;
}
.inner-container div{
	width: 75%;
	float: right;
	margin-bottom: 50px;
}
.inner-container h2{
	margin-top: 0;
  font-weight: 900;
  text-transform: none;
}

section.red {
  background-color: #C43F35;
	width:100%;
	float:left;
	color: #FfF
}

section.black {
  background-color: #000;
  color: #fff;
  width: 100%;
  float: left;
}

.wrapper--team {
  margin: 0;
  padding: 2rem 1rem;
}


@media screen and (min-width: 64em) {
  .l-container {
    max-width: 64rem;
  }
}
@media screen and (min-width: 75em) {
  .l-container {
    max-width: 75rem;
  }
}
.team-grid {
  margin: 0;
  text-align: center;
  *zoom: 1;
}
.team-grid:before, .team-grid:after {
  content: " ";
  display: table;
}
.team-grid:after {
  clear: both;
}

.team-grid__member {
  font-family: 'Helvetica Neue';
  max-width: 100%;
  padding: 0.5rem;
  margin: 0 0 0.5rem;
  display: inline-block;
  float: none;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (min-width: 28em) {
  .team-grid__member {
    width: 49%;
    max-width: none;
  }
}
@media screen and (min-width: 42em) {
  .team-grid__member {
    width: 32.5%;
  }
}
@media screen and (min-width: 62em) {
  .team-grid__member {
    width: 19.45%;
  }
}
.team-grid__member {
  position: relative;
  overflow: hidden;
}

.team-grid__member img {
  width: 100%;
  height: 100%;
  border: 8px solid #fff;
  box-sizing: border-box;
  display: block;
}

.member__info {
  color: #fff;
  height: auto;
  width: auto;
  opacity: 0;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  background: rgba(0, 0, 0, 0.85);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.member__name {
  color: #C43F35;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
  margin-bottom: 0;
  padding: 0 12px;
}

.member__title {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5rem;
  padding: 1rem 1.5rem;
}

a.member__social {
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 1.5rem;
  padding: 1.5rem 1.5rem;
  color: #C43F35;
}

a.member__link {
  background: #C43F35;
  color: #FFF;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.team-grid__member:hover .member__info {
  opacity: 1;
}

.member__info:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.center-vert-content {
  display: inline-block;
  vertical-align: middle;
}

a.contact {
  color: #C43F35;
  text-decoration: none;
}

a:hover.contact {
  color: #C43F35;
  text-decoration: underline;
}


h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
  color: white;
  background: #e74c3c;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
